body{
    background-color: rgb(51, 158, 247);
    color: rgb(255, 255, 255);
    font-size: large;
    margin: auto;
    padding: 0%;
    width: 100%;
    text-align: center;
}

table,tr,th,td{
    height: 20px;
    width: 300px;
    margin-left: 480px;
    background-color: blueviolet;
    text-align: center;
}

tr>th{
    color: black;
    font-weight: 700;
}

#dGridProdutos,
#tbProdutos {
  margin: 1000px;
}